# Ignore compiler toolchain
toolchain/

# Ignore simulation outputs and trace files
m5out/
trace_hart_0.dasm
m5out*/
scratch/*.elf
build/

# Accelerator
accelerator/libfifo_accel.so
accelerator/obj_dir/

# Verilate work directory
cva_verilate/work-ver-core

scratch/riscv-bootloader-*

*.log
